*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    font-family: 'montserrat',sans-serif;
    overflow-x: hidden;
}

nav{
    display: flex;
    background-color: #ffffff;
    justify-content: space-around;
    color: #899C66;
    height: 50px;
    align-items: center;
    border-bottom: 5px solid #899C66;
}

.logo{
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo img{
    margin-left: 5px;
    width: 30px;
}
nav ul{
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
    align-items: center;
}
nav ul li a{
    color: #899C66;
    font-size: 0.8em;
}
nav ul li a:hover{
    color: #cff090;
}

.button{
    width:60px;
    height: 25px;
    color: #ffffff;
    background: #899C66;
    font-size: 0.8em;
    font-weight: bold;
    justify-content: center;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
}
.button:hover{
    background: #ffffff;
    color: #899C66;
}
.galery{
    width: 80%;
    display: flex;
    margin: 35px auto;

}
.from{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 10px 30px;
}
.from .skil{
    display: flex;
    flex-direction: column;
    background-color: #736b6b00;
    border-radius: 10px;
    margin: 20px 25px;
  }

 .skil button {
    width:75px;
    margin: 0 auto;
    height: 25px;
    color: rgb(255, 255, 255);
    background: #899C66;
    font-size: 0.8em;
    font-weight: bold;
    align-items: center;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
  }
  .skil button:hover{
    transform: translateY(-3px);
    background: #899c66bb;
  }
 .from .skil img{
    height: 150px;
    width: 100px;
    border-radius: 10px;
  }